<h1>Customer Details</h1>

<% if !@customer.blank? %>
<table>
	<tr>
		<th>Customer ID</th>
		<th colspan="2">Customer Name</th>
	</tr>
	<tr>
		<td><%= @customer.id %></td>
		<td colspan="2"><%= @customer.name.blank? ?  "Unnamed" : @customer.name %></td>
	</tr>
	<tr>
		<td><%= link_to 'Edit Details', edit_customer_path(@customer) %></td>
		<td><%= link_to 'Delete This Customer', @customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		<td><%= link_to "Back to List", customers_path %></td>
	</tr>
</table>
<% else %>
<h2>Can't find the user. Action?</h2>
<table>
	<tr>
		<td><%= link_to 'Select A Customer', customers_path %></td>
		<td><%= link_to "Create New Customer", new_customer_path %></td>
	</tr>
</table>
<% end %>