<%= form_for(@discount) do |f| %>
	<% if @discount.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@discount.errors.count, "error") %> prohibited this discount from being saved:</h2>

			<ul>
			<% @discount.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
		<%= f.label :product_id, "Apply to Product:" %><br>
		<%= f.select :product_id, @products %>
	</div>
	<br>

	<div class="field">
		<%= f.label :customer_id, "Apply to Customer:" %><br>
		<%= f.select :customer_id, @customers %>
	</div>
	<br>

	<div class="field">
		<%= f.label :discount_type %><br>
		<%= f.select :discount_type, @discount_type %>
	</div>
	<br>


	<div class="field">
		<%= f.label :minimum_purchase, "Minimum Purchase: (e.g '10' = buy 10 get this discount)"%><br>
		<%= f.number_field :minimum_purchase, min: 0, value: 0, placeholder: "E.g 10" %>
	</div>
	<br>


	<div class="field">
		<%= f.label :rate, "Rate: (e.g '10' for 10\% or get 10 units free)"%><br>
		<%= f.number_field :rate, min: 0, value: "0.00000", step: 'any', placeholder: "E.g 10" %>
	</div>
	<br>

	<div class="field">
		<%= f.label :status, "Set Discount Status to:"%><br>
		<%= f.select :status, @status %>
	</div>
	<br>

	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>