<h1>Products List</h1>

<p id="notice"><%= notice %></p>

<table>
	<tr>
		<th>Product ID</th>
		<th>Product Name</th>
		<th>Product Type</th>
		<th>Product Price ($)</th>
		<th colspan="3">Available Actions</th>
	</tr>

	<% if !@products.blank? %>
		<% @products.each do |product| %>
			<tr>
				<td><%= product.id %></td>
				<td><%= product.name.blank? ?  "Unnamed" : product.name %></td>
				<td><%= product.product_type.blank? ?  "Unknown Product Type" : product.product_type %></td>
				<td><%= product.price.blank? ?  "Unknown Price" : product.price %></td>
				<td><%= link_to 'Show', product %></td>
				<td><%= link_to 'Edit', edit_product_path(product) %></td>
				<td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
		<% end %>
	<% end %>

	<tr>
		<td><%= link_to "new product", new_product_path %></td>
		<td colspan="6">to create new product</td>
	</tr>
</table>

