<h1>Product Details</h1>

<% if !@product.blank? %>
<table>
	<tr>
		<th>Product ID</th>
		<th>Product Name</th>
		<th>Product Type</th>
		<th>Product Price ($)</th>
	</tr>
	<tr>
			<td><%= @product.id %></td>
			<td><%= @product.name.blank? ?  "Unnamed" : @product.name %></td>
			<td><%= @product.product_type.blank? ?  "Unknown Product Type" : @product.product_type %></td>
			<td><%= @product.price.blank? ?  "Unknown Price" : @product.price %></td>
	</tr>
	<tr>
		<td><%= link_to 'Edit Details', edit_product_path(@product) %></td>
		<td><%= link_to 'Delete This Product', @product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		<td colspan="2"><%= link_to "Back to List", products_path %></td>
	</tr>
</table>
<% else %>
<h2>Can't find the user. Action?</h2>
<table>
	<tr>
		<td><%= link_to 'Select A Product', products_path %></td>
		<td><%= link_to "Create New Product", new_product_path %></td>
	</tr>
</table>
<% end %>